$transition--standard: 0.3s ease;

/* ////////////
// TYPOGRAPHY
///////////// */

$font-headings: din-condensed, sans-serif;
$font-body: "Lato", sans-serif;

/* //////////
// COLORS
/////////// */
$color-blue: rgb(0, 74, 152);
$color-blue--light: rgb(56, 117, 177);
$color-red: rgb(178, 41, 46);
$color-red--light: rgb(178, 41, 46);
$color-grey: #aaaaaa;
